@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 3px 5px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #ffffff;
  color: #ff4f00;
  opacity: 0.85;
  height: 80px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 88px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #ff4f00;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
  margin: 20px;
  color: #ff4f00;
  padding: 10px;
  filter: drop-shadow(0px 2px 2px rgba(41, 39, 39, 0.3))
          drop-shadow(-3px -3px 2px rgba(62, 60, 60, 0.3))
}

.menu-items a:hover {
  color: #232424;
  transition: color 0.3s ease-in-out;
}
.menu-items a button{
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background-color: #ff4f00;
  cursor: pointer;
  font-weight: 770;
}
.menu-items a button:hover{
  color: #232424;
  transition: color 0.3s ease-in-out;
}

.log h2{
  font-size: 3em;
  line-height: 1em;
  padding: 4px 20px;
  cursor: pointer;
}

.log h2.logo{
  border-radius: 6px;
  color:#ff4f00;
  box-shadow: -3px -3px 2px rgba(142, 52, 52, 0.3),
              5px 5px 5px rgba(22, 21, 21, 0.2);
}




/* ........ footer Us........... */
#footer h2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1.6rem;
  font-weight: 660;
  color: #ff4f00;
  background:#afa8a8;
}

/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* ......./ food /......... */

  .food-container {
    flex-direction: column;
    align-items: stretch;
  }
  .center .btns button{
    margin:20px;
  }


}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  .form-container {
    width: 90%;
  }


  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}



/* Home */
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  border: solid 2px #ff4f00;
  box-shadow: 0px 2px 2px 0px #ff4f00;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #ff4f00;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  border:2px solid #ff4f00;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px #ff4f00;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color:#ff4f00;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color:#ff4f00;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #b32121;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color:#ff4f00;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #ff4f00;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  border: none;
  color: #fff;
  box-shadow: 0px 2px 3px 1px #ff4f00;
}



/*Hero banner bubbles*/
.wrapper {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #040929, 5%, #161819, 50%, #07072c);
  position: absolute;
}
.wrapper h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 40px;
  font-weight: 888;
  text-transform: uppercase;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}
.wrapper .dot:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper .dot:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper .dot:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper .dot:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper .dot:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper .dot:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper .dot:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper .dot:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper .dot:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper .dot:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper .dot:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper .dot:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper .dot:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper .dot:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper .dot:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}


.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  filter: drop-shadow(0px 2px 2px rgba(227, 222, 222, 0.3))
          drop-shadow(-3px -3px 2px rgba(224, 219, 219, 0.3))
          drop-shadow(-3px -3px 2px rgba(224, 219, 219, 0.3))
}
.center .sub_title {
  color: #fff;
  font-weight: 600;
  filter: drop-shadow(-5px 3px 158px rgba(188, 181, 181, 0.3))
          drop-shadow(-3px -3px 2px rgba(174, 167, 167, 0.3))
          drop-shadow(-3px -3px 2px rgba(224, 219, 219, 0.3))
}
.center .btns {
  margin-top: 20px;
}
.center .btns button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child {
  color: #fff;
  background: none;
}
.btns button:first-child:hover {
  background: white;
  color: black;
}
.center .btns button:last-child {
  background: #ffffff;
  color: black;
}
.center .btns button:last-child:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
}

.center .sub_title {
  font-size: 6vw; /* make our h1 tag larger */
  font-family: sans-serif; /* choosing our font */
  background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%,rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(62, 63, 64) 52%, rgb(255, 255, 255) 60%); /* you can change the colors based on your preference */
  background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text; /*for browsers compatibility */
  -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50vw 10px;
  }
}



/*employee list*/
/*my table*/
.main{
  padding-top: 9rem;
  max-width: 1200px;
  width: 90%;
  margin: auto;



}
.main .table-heading{
  color: #ff4f00;
  font-weight:999;
  font-size: medium;
  text-align: center;
}

.main .table-div{
    border: 3px solid rgb(85, 83, 81);
    padding: 30px 90px;
    border-radius: 8px;

}

/*employee add*/
/*my table*/
.con{
  padding-top: 9rem;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
/*registration form*/

.con {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 3px 2px 4px 3px #514e4e;
  max-width: 800px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.con header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.con .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 2px solid #c6bfbf;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color:#ff4f00;
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #ffffff;#
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background:#ff4f00;
  border-radius: 8px;
  box-shadow: 2px 4px 3px 2px #514e4e;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}


/*my table*/
.main{
  padding-top: 9rem;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.main .table-heading{
  color: #ff4f00;
  font-weight:999;
  font-size: medium;
  text-align: center;
}

.main .table-div{
    border: 3px solid rgb(234, 193, 31);

}

.tablediv h4{
  font-size: 30px;
  font-weight:650;
  color: #ff4f00;
}
#myTable{
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 8px 5px #767474;
  border-radius: 5px;
}
